/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
// https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=0074a6&secondary.color=90CAF9
@import '~@angular/material/theming';
@import '../node_modules/wijmo/styles/themes/wijmo.theme.material';
@import './app/shared/components/search-box/search-box.theme.scss';

@font-face {
    font-family: expertsans;
    src: url(./assets/font/expertsans-regular-webfont.woff) format('woff');
}
$barc-typography: mat-typography-config(
    $font-family: '"expertsans", "Trebuchet MS", Arial, Verdana, sans-serif;',
    $headline: mat-typography-level(32px, 48px, 700),
    $body-1: mat-typography-level(14px, 24px, 500)
);

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.filter-panel {
    .mat-expansion-panel-body {
        padding-top: 1rem;
        background: #f8fbfc;
    }
}
@include mat-core($barc-typography);

$barcpallete: (
    50 : #e0eef4,
    100 : #b3d5e4,
    200 : #80bad3,
    300 : #4d9ec1,
    400 : #2689b3,
    500 : #0074a6,
    600 : #006c9e,
    700 : #006195,
    800 : #00578b,
    900 : #00447b,
    A100 : #a8d2ff,
    A200 : #75b8ff,
    A400 : #429dff,
    A700 : #2990ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);
$barcpalletelite: (
    50 : #e0f5fd,
    100 : #b3e7fa,
    200 : #80d7f7,
    300 : #4dc6f4,
    400 : #26baf1,
    500 : #00aeef,
    600 : #00a7ed,
    700 : #009deb,
    800 : #0094e8,
    900 : #0084e4,
    A100 : #ffffff,
    A200 : #d8ecff,
    A400 : #a5d4ff,
    A700 : #8bc8ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$barc-app-primary: mat-palette($barcpallete);
$barc-app-accent:  mat-palette($barcpalletelite, A200, A100, A400);
$barc-app-warn:    mat-palette($mat-red);

$barc-app-theme: mat-light-theme($barc-app-primary, $barc-app-accent, $barc-app-warn);


@mixin custom-components-theme($theme) {
    @include search-box-theme($theme);
}

@include angular-material-theme($barc-app-theme);
@include custom-components-theme($barc-app-theme);
