<div flexLayout class="home-container"> 
  <app-search-box></app-search-box>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5%" fxLayoutAlign="center" class="card-container">
    <mat-card *ngFor="let card of _cards" class="primary example-card" fxFlex="30%">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image {{card.image}}"></div>
        <mat-card-title class="primary">{{card.title}}</mat-card-title>
        <mat-card-subtitle>{{card.title}} demo app</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./assets/images/{{card.image}}.jpg" alt="Photo" class="image">
      <mat-card-content>
        <p>
          {{card.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" class="primary" (click)="openApp(card.link)">OPEN</button>
      </mat-card-actions>
    </mat-card>
  </div> 
</div>